<%= form_for @changeset, @action, fn f -> %>
  <div>
    <%= label f, :saying %>
    <%= textarea f, :saying, rows: 5 %>
    <%= error_tag f, :saying %>
  </div>

  <div>
    <%= label f, :author %>
    <%= text_input f, :author %>
    <%= error_tag f, :author %>
  </div>

  <div>
    <%= submit "Submit", class: "btn btn-success", style: "width: 100%; margin: 30px auto; font-size: 20px;" %>
  </div>
<% end %>